@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<head>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AAAAAAAEAAAACAAAA////AAMCAgAEAgIATHXHAAEBAQD+/v4AAgEBAAMBAQAAAAAAAAAAAAAAAAAAAAAAERG7u7u7ERERG0RERESxERG0d0REd0sREbR3d3d3SxERtEd3d3RLERG0d3d3d0IRG7t3RER3u7G0RFREREhES7REu0BEu0RLtES7O7u7REu0S2RDtEu0Rhq7REs0SbuxERtES7REsRERG7RLtEuxERERu7EbuxERERERERERERHwDwAA4AcAAMADAADAAwAAwAMAAMADAACAAQAAAAAAAAAAAAAAAAAAAAAAAIABAADgBwAA4AcAAPGPAAD//wAA" rel="icon" type="image/x-icon" />
    <style>
    img {
    width: 100%;
    }
    </style>
</head>
<body>
    <div class="text-center ">
        <h4 class="display-4">Sistema de Administración  -  Bienvenido </h4>
    </div>
    <div class="container text-center">
    <!-- Content here - fluid para responsive y un marco thumbnail -->
        <img src="https://i.postimg.cc/8kJR8MzF/home-Image.jpg" class="img-fluid img-thumbnail" alt="Home MascotaFeliz Image" style="width:640px;" >
    </div>
    

</body>

